body {
    background-color: #fca6c9;
    font-family: "Arial", sans-serif;
    text-align: center;
}
h1 {
    font-size: 3em;
    color: #ffffff;
    
}
h1:hover {
    color: #000000;
}
h2 {
    font-size: 2em;
    color: #ffffff;
}
p {
    max-width: 50%;
    color: #ffffff;
    margin: 0 auto;
}

ol {
    max-width: 50%;
    color: #000000;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}
li {
    padding: 1%;
}
img {
    max-width: 25%;
    margin: 0 auto;
    display: block;
    padding: 2%;
}
.quote {
    max-width: 30%;
    color: #ffffff;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
footer {
    max-width: 30%;
    margin: 0 auto;
    padding: 2%;
}